.carrito-section {
    padding: 4rem 2rem;
    background: #f9f9f9;
    min-height: 100vh;
  }

  .carrito-section h1 {
    text-align: center;
    color: var(--color-primario);
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
    .carrito-section h2 {
        text-align: center;
        color: var(--color-secundario);
        margin-bottom: 2rem;
    }
    .carrito-section p {
        text-align: center;
        color: var(--color-secundario);
        margin-bottom: 2rem;
    }

  .carrito-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .carrito-items {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .carrito-item {
    display: flex;
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
    align-items: flex-start;
  }
  .carrito-item .imagen-container {
    flex: 0 0 150px;
  }
  .carrito-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    max-height: 150px;
  }

  .carrito-item .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .carrito-item .info h3 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--color-primario);
  }
  .carrito-item .info p {
    margin: 0;
    color: var(--color-secundario);
  }
  .carrito-resumen {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .checkout-btn {
    width: 100%;
    padding: 1rem;
    background: var(--color-primario);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
  }

  .checkout-btn:hover {
    background: #2100bb;
  }
 
  .buy-button {
    background: var(--color-primario);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

  }

  .buy-button:hover {
    background: #2100bb;
  }